---
import Layout from '../layouts/Layout.astro';
import fs from 'fs';

const files = fs.readdirSync('./src/pages')
  .filter(f => f.endsWith('.md'))
  .sort()
  .reverse();
---

<Layout>
  <h1>Study Diary</h1>

  <ul>
    {files.map(f => (
      <li>
        <a href={`/${f.replace('.md','')}`}>
          {f.replace('.md','')}
        </a>
      </li>
    ))}
  </ul>
</Layout>
